footer{
    margin-top: 250px;
    padding-bottom: 50px;
}

.links_contacts, .terms{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 200px;
}

.footer_navbar {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

footer p, footer a{
    font-size: 14px;
}

footer a{
    text-decoration: none;
}

.terms{
    margin-top: 100px;
}