*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #141619;
}

#hero, #about, #services, #connections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

h1{
    font-weight: 500;
    font-size: 76px;
    text-align: center;
}

p{
    color: #E5E5E5;
    size: 18px;
    text-align: center;
    width: 500px;
}

#hero button{
    width: 191.5px;
    height: 58px;
    border-radius: 2px;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}

#about, #services, #connections{
    margin-top: 200px;
}

#hero{
    padding-top: 120px;
}

#about h2, #services h2, #connections h2{
    font-size: 56px;
    font-weight: 500;
}

#services {
    position: relative;
}

.about_cards {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}

.about_card {
  width: 300px;
  height: 180px;
  border: 1px solid #665DCD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.about_card p{
    width: 90%;
}

.about_card:nth-child(-n + 3) {
  border-top: none;
}

.about_card:nth-child(3n + 1) {
  border-left: none;
}

.about_card:nth-child(3n) {
  border-right: none;
}

.about_card:nth-last-child(-n + 3) {
  border-bottom: none;
}

.about_card:hover{
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    color: #ffffff;
}

.about_card p:nth-child(1){
    font-size: 38px;
    font-weight: 500;
}

#services article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    gap: 40px;
}

.card_info{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 400px;
}

.card_info p{
    text-align: start;
    width: 98%;

}

.card_info a{
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    background-image: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    padding-bottom: 6px;
}

.strong{
    font-weight: 700;
}

.more{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



.bg{
    position: absolute;
    height: 2019.48px;
    width: 2000px;
    left: -500px;
    right: 700px;
    top: -150px;
    z-index: -1;

    background: url(../images/bg_shadow.png);
    background-size: cover;
    background-position: center;
}

.bg2{
    width: 772px;
    height: 760px;
    position: absolute;
    top: -150px;
    left: -120px;
    z-index: -1;
    background: url(../images/bg2.png);
    background-size: cover;
    background-position: center;
}

.carusel_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.who{
    display: flex;
    align-items: center;
    gap: 20px;
}
.who p{
    width: 80%;
    border-right: 1px solid #fff;
    padding-right: 20px;
}

.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.counter div{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #333333;
}

.active_circle{
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}