*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #141619;
}

.navbar{
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}


.navbar a{
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
}

.navbar button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.status{
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border-radius: 8px;
    width: 16px;
    height: 16px;
}

#hero, #about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

h1{
    font-weight: 500;
    font-size: 76px;
    text-align: center;
}

p{
    color: #E5E5E5;
    size: 18px;
    text-align: center;
    width: 500px;
}

#hero button{
    width: 191.5px;
    height: 58px;
    border-radius: 2px;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border: none;
}


/* background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%); */

#about{
    margin-top: 200px;
}

.about_cards {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}

.about_card {
  width: 300px;
  height: 180px;
  border: 1px solid #665DCD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.about_card p{
    width: 90%;
}

.about_card:nth-child(-n + 3) {
  border-top: none;
}

.about_card:nth-child(3n + 1) {
  border-left: none;
}

.about_card:nth-child(3n) {
  border-right: none;
}

.about_card:nth-last-child(-n + 3) {
  border-bottom: none;
}

.about_card:hover{
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    color: #ffffff;
}

.about_card p:nth-child(1){
    font-size: 38px;
    font-weight: 500;
}